@import "~@csstools/normalize.css";
@import "~tufte-css/tufte.min.css";

body {
  margin: 0;
  padding: 0;
  width: auto;
}

.root {
  width: 100vw;
  height: 100vh;
  padding: 3px;
  &:not(.ready) {
    background-color: lavender;
  }
}

.debug {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: bisque;
}